h1 {
    border-bottom: thin solid blue;
}

footer {
    border-top: thin solid blue; 
    text-align: right;
    padding: 5px;
    margin-top: 5px;
}

body {
    margin: 20px;
    font-family: Verdana;
}

#main {
    padding: 20px;
    background-color: #EEEEEE;
}

label {
    font-weight: bold;
    width: 200px;
    display: inline-block;
}
